:root {
    --color-light-gray: #a9b1bd;
    --color-gray: #808080;
    --color-red: #ff0000;
    --color-blue: #11b0c8;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: var(--color-light-gray);
    --color-secondary: var(--color-gray)
}