$fontweight-light: 300;
$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-bold: 600;
$fontweight-bolder: 700;

$breakpoint-xs: 500px;
$breakpoint-s: 768px;
$breakpoint-m: 1024px;
$breakpoint-l: 1440px;
$breakpoint-hd: 1920px;